.icon-linkedin-sign:hover, .linkedInAuthorised{
	color:#4875B4;
}
.icon-twitter-sign:hover{
	color:#33CCFF;
}
.hero-unit{
	text-align:center;
}
.hero-unit .icon{
	font-size:150pt;
}
#catContainer{
	display:none;
}
li > a {
    display: block;
}