.icon-linkedin-sign:hover, .linkedInAuthorised{
	color:#4875B4;
}
.icon-twitter-sign:hover{
	color:#33CCFF;
}
.hero-unit{
	text-align:center;
}
.hero-unit .icon{
	font-size:150pt;
}
#catContainer{
	display:none;
}
li > a {
    display: block;
}
#linkedinList{
	/*-moz-column-count:4;
	-webkit-column-count:4;
	column-count:4;*/
	height:450px;
}/*
#linkedinList > div{
	height:400px;
}*/

#linkedinList ul a{
    float:left;
    list-style: none;
    /*border: solid 1px #555;*/
    border-radius: 6px;
    background-color: #EEE;
    height:100px;
    width:257px;
    display:block;
    margin-right: 9px;
    margin-bottom: 9px;
    padding:10px;
}

#linkedinList ul a:hover{
background-color: #DDD;
}


#linkedinList img{
    float:left;
}
label{
    width:160px;
    clear:none;
    float:right;
    color:#222;
}